@model ContactFormModel
<form>
    <div>
        @Html.TextBoxFor(model => model.Name, new { @class = "span3", placeholder = "Name" });
        @Html.TextBoxFor(model => model.Email, new { @class = "span3", placeholder = "Email" });
        @Html.TextBoxFor(model => model.Message, new { @class = "span3", placeholder = "Mandanos un Mensaje" });
    </div>
    <div>
        
    </div>
    <div>
        
    </div>
</form>